@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top:100px">

    <h1 class="display-4">Welcome to A3</h1>
    <br />
    <h5>
        GitHub: <a href="https://github.com/rmit-wdt-fs-2023/s3842316-a3">https://github.com/rmit-wdt-fs-2023/s3842316-a3</a>
        <br /><br />
        Name: Sahibjeet Singh | Student No: s3842316
        <br /> <br />
        Have a great Day :)
    </h5>

</div>

